---
import UserAuthForm from "$lib/components/SvelteCommon/UserAuthForm.svelte";
import Layout from "$lib/layouts/Layout.astro"

const locals = Astro.locals
locals.pb.authStore.isValid && await locals.pb.collection('users').authRefresh();

if (Astro.request.method == 'GET') {
  if (locals.pb.authStore.isValid) {
    console.log('valid, redirecting...')
    return Astro.redirect('/dashboard')
  }
}
---

<Layout>
  <div class="flex items-center justify-center flex-col h-screen px-12">
    <div class="card card-side bg-base-100 shadow-xl">
      <figure class="hidden md:block lg:block w-5/12">
        <img class="" alt="card img" src="https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1280&q=80" alt="" />
      </figure>
      <div class="card-body">
        <UserAuthForm client:only="svelte" />
      </div>
    </div>
  </div>
</Layout>