---
import RegisterForm from "$src/components/landing/RegisterForm.svelte"
import Layout from "$src/layouts/Layout.astro";

const locals = Astro.locals
locals.pb.authStore.isValid && await locals.pb.collection('users').authRefresh();

if (Astro.request.method == 'GET') {
  if (locals.pb.authStore.isValid) {
    console.log('valid, redirecting...')
    return Astro.redirect('/dashboard')
  }
}
---

<Layout>
  <div class="flex items-center justify-center flex-col h-screen px-12">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <RegisterForm client:only="svelte" />
      </div>
    </div>
  </div>
</Layout>