<div class="bg-black space-y-6 lg:space-y-0">
    <div class="space-y-10 lg:space-y-0 mx-auto max-w-6xl flex items-center flex-col lg:flex-row justify-between px-10 md:px-20 py-16">
        <a href="/">
            <img class="mx-auto lg:mx-0" width="90px" src="/logo-dark.png" alt="Youform">
        </a>
        <br>

        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="/about" class="hover:underline">转</a>
            </li>
        </ul>

        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="/pricing" class="hover:underline">专</a>
            </li>
        </ul>
        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="/privacy-policy" class="hover:underline">驻专转</a>
            </li>
        </ul>
        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="/terms" class="hover:underline">转 砖砖</a>
            </li>
        </ul>

        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="/support" class="hover:underline">转</a>
            </li>
        </ul>

        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="https://youform.com/blog" target="_blank" class="hover:underline"></a>
            </li>
        </ul>

        <ul class="text-center">
            <li class="text-white  font-semibold">
                <a href="https://youform.canny.io/changelog" target="_blank" class="hover:underline"> 砖?</a>
            </li>
        </ul>

    </div>     

    <div class="border-t border-gray-700">
        <p class="text-center text-white py-4 text-sm px-10">
              转  注状 AWS        </p>
    </div>

</div>
