---
import FormBtnContainer from '../../../components/FormBtnContainer.astro';
---

<div>
  <label x-text="field.question" class="text-lg sm:text-xl xl:text-3xl font-medium text-gray-700 leading-[1.35em] lg:leading-normal">
    <sup x-show="{field.required}" class="text-red-600"> * </sup>
  </label>

  <p 
    x-text="field.description" 
    class="text-lg font-normal leading-relaxed text-neutral-600" />

  <input
    :id="$id('input')"
    :name="$id('input')"
    :type="field.type"
    @keyup="handleErr"
    @submit.prevent=""
    :placeholder="field.placeholder"
    :required="field.required"
    class={`transition-all bg-transparent border-b-2 border-b-neutral-600 text-gray-800 mt-8 pb-2 question-input__text placeholder:italic placeholder:text-neutral-500 placeholder:text-xl lg:placeholder:text-3xl focus:border-b-neutral-100 outline-0`}
    />
  <div x-data="{
       id: $id('input'),
       show: false,
       defaultMessage: 'שדה זה הינו חובה למילוי',
       handleErr(e){ 
         if (e && e.target && e.target.value.length == 0) {
            this.show = true
         }
         if (e && e.detail && e.detail.id && e.detail.id === this.id){
          this.show = true
         }
       }
     }" x-show="show">
    <span x-text="defaultMessage" class="block mt-2 p-1 text-red-600 bg-yellow-200" />
  </div>

  <FormBtnContainer text="המשך" />
</div>

<style>
  .question-input__text {
    font-size: 2rem;
    width: 100%;
  }

  @media screen and (max-width: 599px) {
    .question-input__text {
      font-size: 2.9rem;
      margin-top: 32px;
    }
  }
</style>
