---
const title = ''
---

<div class="flex flex-col">
  <nav class="flex">
    <li><a>דף</a></li>
    <li><a>עיצוב</a></li>
    <li><a>הגדרות</a></li>
  </nav>

  <div class="container flex">
    <aside class="max-w-3xl bg-neutral-200 max-h-screen">
      <div class="px-4 py-2">
        <label for="txt-1">
          כותרת
        </label>
        <input class="input w-32 rounded-sm p-2" name="txt-1" id="txt-1" type="text">
      </div>
    </aside>

    <main id="main">
      Everything will go inside here.
      Svelte Component Probably
    </main>

    <div class="second-panel max-w-3xl bg-neutral-200 max-h-screen">
      לוח בקרה מס 2
    </div>

  </div>
</div>
