---
import Dash from "$components/Dashboard/Dash.svelte";
import Layout from "$src/layouts/Layout.astro"
import FormsList from '$components/Dashboard/FormList.svelte'

// const dataForms = await locals.pb.collection('forms').getFullList({ sort: '-created' })

import PocketBase from 'pocketbase';

const pb = new PocketBase('http://localhost:8090/')

import {formsCollection} from '../db'

// fetch all user's forms
const f  = await formsCollection()
const forms = await f.find({}).toArray()
// console.log(forms)

---
<Layout>
  {
    true ?
      <Dash client:only="svelte" /> : (
  <header>
    <nav class="w-full border-b p-2 flex items-center flex justify-between">
      <div class="flex items-center gap-8">
        <div class="h-4rem w-4rem rounded circle bg-white border-black">
          +
        </div>

        <a href="#">דשבורד</a>
        <a href="#">הגדרות חשבון</a>
        <a href="#">סגל</a>
      </div>

      <div class="flex items-center gap-2">
        <ul class="flex gap-2 items-center justify-center">
        </ul>
      </div>

      <div class="flex items-center gap-4 px-12">
        <button class="items-center gap-2 py-1 px-4 button button-secondary rounded-sm !bg-teal-800 !text-white" >
        שדרג
          <div class="i-mdi:arrow-up w-4 h-4"></div>
        </button>
      </div>
    </nav>
  </header>


  <div class="border-b mt-10 relative">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 flex items-center justify-between pb-2">
      <h1 class="text-2xl font-bold leading-tight tracking-light text-gray-900">הטפסים שלך</h1>
      <a
        up-target=".content"
        up-position="bottom"
        size="grow"
        up-align="right"
        up-layer="new"
        href="/partials/create-form" class="inline-flex gap-4 items-center rounded-md border border-transparent bg-blue-400 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
        צור טופס
        <div class="i-mdi:note-plus text-white w-1.5rem h-1.5rem"></div>
        <div class="content"></div>
      </a>
    </div>
  </div>

  <div class="mt-6">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 flex items-center justify-between">
      <FormsList {forms} />
    </div>
  </div>

  <div class="mt-8 pt-10 borer-t border-dashed border-teal-200">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 flex items-center justify-between">
      <h2 class="text-xl font-bold text-gray-800">הגדרות</h2>
    </div>
  </div>
  )
}

</Layout>