---
import Layout from "../layouts/Layout.astro"
import Rating from "../components/SvelteForm/Rating.svelte"
import Signature from "../components/SvelteForm/Field/Signature.svelte"

const dummy = {
    id: 'select-adc001',
    question: 'מה משקף את עיסוקכם הכי טוב',
    type: 'rating',
    value: '',
    required: true,
    description: '',
    placeholder: '',
    design: {
      bg: '#fff',
      textColor: '#111'
    }
  }

  const sign = {
    id: 'select-adc002',
    question: 'אנא חתמו כאן',
    type: 'signature',
    value: '',
    signatureList: [],
    required: true,
    description: '',
    placeholder: '',
    design: {
      bg: '#fff',
      textColor: '#111'
    }
  }

---

<Layout title="builder">
  <div id="full-screen" class="relative max-h-screen overflow-y-scroll snap snap-y snap-mandatory">
    <form action="/form" dir="rtl" method="POST">
      <section class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-orange-100 text-center">
        <Signature client:only="svelte" field={sign} />
        <!-- <Rating client:only="svelte" rating={0} field={sign} /> -->
        <button type="submit">
          המשך
        </button>
      </section>
    </form>
  </div>
</Layout>
