---
import Layout from "../layouts/Layout.astro";
import Pricing from "../components/landing/Pricing.astro"

const faq = [
{
question: 'חינמי? למה?',
value: 'החבילה החינמית שלנו די נדיבה ומאפשרת יצירה של עד 3 טפסים, תוכלו ללכוד אינסוף מילויים מהמשתמשים שלכם!',
}, 
{
question: 'מה נותנת חבילת היזם?',
value: 'חבילת היזם מקנה לכם יצירת אין ספור טפסים לטעמכם עם אפשרות להסיר את המיתוג שלנו, יכולת לחבר את הטופס לכתובת (domain) ועוד...',
},
{
question: 'האם ניתן להטמיע טופס לאתר קיים?',
value: 'בקרוב מאוד נשחרר מדריך עם הוראות כיצד ניתן לעשות זאת.',
},
{
question: 'ניתן להוריד את הנתונים ל Google Sheets או Excel?',
value: 'בודאי. ניתן להוריד את כל התגובות שלכדתם. בהמשך ניתן יהיה לחבר טופס לקובץ אקסל ב Google Sheets ובכל פעם שמשתמש ימלא טופס, זה יתעדכן בקובץ שלכם.',
},
{
question: 'מה עם Zapier?',
value: 'שאלה טובה. בקרוב.',
},
{
question: 'מה עם חתימות דיגיטליות?',
value: 'אין שום בעיה! ניתן ללכוד חתימות דיגיטליות בקלות.',
},
{
question: 'האם ניתן להפנות משתמש לאתר מסוים לאחר מילוי טופס?',
value: 'כן, עם Formali ניתן להפנות משתמשים לכל כתובת שתרצו לאחר מילוי טופס.',
},
{
question: 'אין את הפיצ׳ר שאני צריך!',
value: 'ניתן להגיש בקשת לפיצ׳רים! שלחו לנו מייל בדף יצירת קשר',
}
]

---

<Layout topbar={true} isPay >
  <main id="main" dir="rtl" class="main">
    <!-- Navbar -->
    <nav id="nav" class="bg-transparent at-top">
      <div class="max-w-3xl lg:max-w-6xl 2xl:max-w-8xl space-y-4 flex items-center justify-between mx-auto print:hidden relative">
        <!-- Menu -->
        <div class="flex px-4 md:px-0 md:pb-0 h-full z-50">
          <a
            id="cta-reg-top"
            href="/sign-up"
            up-target=".content"
            up-position="bottom"
            size="grow"
            up-align="right"
            up-layer="new"
            class="button button-primary block text-base"
          >
            הרשמה
          </a>
        </div>
        <!-- Logo -->
        <a id="logo" href="/" class="relative z-50 w-[186px]">
          <img src="/logo-dark.png" alt="logo" />
        </a>
      </div>
    </nav>

    <div class="relative w-full -top-15 lg:-top-24 overflow-hidden w-full">
      <div class="relative max-w-7xl mx-auto pb-20">
        <header
          class="flex flex-col items-center col-span-3 lg:pr-16 xl:pr-20 bg-[#1B1A21] pt-28 pb-20">
          <Pricing />
          <button class="payment rotate-1 text-2xl bg-teal border-2 border-black drop-shadow-3xl hover:drop-shadow-4xl px-10 py-2 text-black rounded-md button-xl">
               צור חשבון עכשיו
          </button>
        </header>
      </div>
    </div>
    <div class="relative w-full -top-15 lg:-top-24 overflow-hidden w-full">

      <div class="flex flex-col justify-center">
        <div class="">
          <p class="text-center text-3xl sm:text-5xl xl:text-6xl font-bold mb-6 pt-10">
           מה זה השטויות האלו?!
          </p>
        </div>
        <div class="mt-10">
         {
         faq.map(q => (
          <div x-data="{ open: false }" class="border-y-2 border-black ">
                  <div class="w-4/5 mx-auto cursor-pointer" @click="open = !open">
                      <div class="flex justify-between  px-4 py-10 md:text-lg lg:text-3xl">
                        <p class="text-black font-medium flex-grow">{q.question}</p>
                          <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-6 md:w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                          </svg>
                      
                          <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-6 md:w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3" style="display: none;">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
                            </svg>
                      </div>
                      <div x-show="open" style="display: none;">
                          <p class=" px-4 py-10 lg:text-xl text-black">
                             {q.value}
                          </p>
                      </div>   
                  </div>      
          </div>
         ))
         }
      </div>
    </div>
  </main>
</Layout>

<script >
  let itemsList = [
    {
      priceId: "pri_01j1n7zq79xtwzy44b7tprp5wt",
      quantity: 1
    },
  ];
    console.log("HELLO WORLD")
  function openCheckout(items, customer) {
    Paddle.Checkout.open({
      items: itemsList,
      customer,
    })
  }

  let el = document.querySelector('.payment')
  el?.addEventListener('click', openCheckout)

</script>

<style>
  .bg-paper {
    background: transparent url("/tear.png") top repeat-x;
    background-size: 1280px;
    height: 182px;
    width: 100%;
  }
</style>
