---
export const prerender = true
import Layout from '../layouts/Layout.astro';
import TextInput from '../components/alpine/TextInput.astro';
import Select from '../components/alpine/Select.astro';

const sampleForm = [
  {
    type: 'select',
    label: 'תחום התמחות החברה שלכם',
    required: true, 
    options: [
      'finance', 'tech', 'marketing', 'social media'
    ]
  },
  {
    type: 'email',
    label: 'לאיזה אימייל תרצו שנשלח לכם הודעה?',
    subLabel: 'שורת תיאור נוספת, ניתן להשאירה ריקה.',
    placeholder: 'name@example.com',
    required: true,
  },
  {
    type: 'text',
    label: 'רשמו את שמכם הפרטי',
    subLabel: '',
    placeholder: 'גדעון בן יואש',
    required: true,
  },
  {
    type: 'select', 
    label: 'אלו מבין האפשרויות הכי תואם אתכם?',
    subLabel: 'בחרו אפשרות אחת בלבד',
    required: false,
    options: [
      "חיפשתי בול מערכת כזו! פשוט תקחו את הכסף שלי.",
      "נראה חמוד, לא בטוח שיש לי צורך במערכת כרגע",
      "פחות מתחבר לי כל העניין",
      "לא!"
    ],
  },
]

const sample = {
  welcome: {
    title: 'ברוכים הבאים, תודה על זמנכם.',
    subtitle: 'מילוי הטופס יקח רק 5 דקות מזמנכם ויעזור לנו באופן משמעותי בקידום ודיוק המערכת שלנו.',
    buttonText: 'התחל'
  },
  fields: sampleForm,
  ending: {
    title: 'תודה ששיתפתם פעולה איתנו!',
    subtitle: 'נשמח לשמוע מכם שוב.',
    buttonText: 'שלח טופס'
  }
}


---
<Layout title="demo formali">
  <div id="full-screen" class="max-h-screen overflow-y-scroll snap snap-y snap-mandatory">
    <form x-data="data" dir='rtl'>
        <!-- Introduction Note -->
        <section 
          class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-orange-100 text-center">
          <div class="flex flex-col gap-8 items-center">
            <h2 x-text="form.welcome.title" class="text-60px max-w-xl font-bold leading-tight" />
            <p x-text="form.welcome.subtitle" />
            <button x-text="form.welcome.buttonText" class="w-36 bg-purple-700 font-bold px-6 py-2 rounded-lg text-white" />
          </div>
        </section>
        <template x-for="(field, index) in fields">
            <section 
              class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-orange-100 text-center">
              <div class="flex flex-col gap-8 items-center">
                <template x-if="field.type == 'email' || field.type == 'text'">
                      <TextInput />
                </template>
                <template x-if="field.type == 'select'">
                  <Select 
                    className="transition-all bg-transparent border-b-2 border-b-neutral-600 text-gray-800 mt-8 pb-2 question-input__text placeholder:italic placeholder:text-neutral-500 focus:border-b-neutral-100 outline-0" />
                </template>
              </div>
            </section>
        </template>

        <!-- Thank You Note -->
        <section 
          class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-orange-100 text-center">
          <div class="flex flex-col gap-8 items-center">
            <h2 x-text="form.ending.title" class="text-60px max-w-xl font-bold leading-tight" />
            <p x-text="form.ending.subtitle" />
            <a href="/thanks" x-text="form.ending.buttonText" class="w-36 bg-purple-700 font-bold px-6 py-2 rounded-lg text-white" />
          </div>
        </section>
    </form>
  </div>
</Layout>


<script define:vars={{ form: sample, fields: sampleForm }}>
  document.addEventListener('alpine:init', () => {
  console.log(form)
    Alpine.data('data', () => ({
      form,
      fields,
    }))
  })

</script>