---
import Layout from '../layouts/Layout.astro';

const someData = {
  msg: 'hello world'
}
---

<Layout title="תודה על הרשמתכם">
  <div class="container bg-orange-300"></div>
  <div class="mx-auto max-4-xl mt-20 text-xl font-bold">
    תודה רבה שהצטרפתם!
    <a href="/" class="text-base block pt-4">חזרה לבית</a>
  </div>
</Layout>


<script define:vars={{ data: someData }}>
  document.addEventListener('alpine:init', () => {
    Alpine.data('data', () => ({
      data,
    }))
  })

</script>
