---
import Layout from '../layouts/Layout.astro';

import { Resend } from 'resend'

if (Astro.request.method === 'POST' ) {
  try {
    const resend = new Resend(import.meta.env.RESEND)
    const data = await Astro.request.formData()
    const email = data.get('email')
    resend.emails.send({
      from: 'onboarding@resend.dev',
      to: 'boristofu@gmail.com',
      subject: 'New Signup For Formali!',
      html: `<h1>New Signup For Formali</h1><p>${email} - has signed up.</p>`
    })
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
    
  }

}


const source = Astro.url.searchParams.get('source')
---

<Layout title="תודה על הרשמתכם">
  <div class="h-lvh bg-neutral-900 text-white flex flex-col align-center items-center justify-center" dir="rtl">
    <div class="shadow-md max-w-lg px-8 text-center">

      {
        source && source === 'registration' &&
        <div>
          <h1 x-transition.delay.500ms class="font-black text-4xl block leading-none tracking-tight">
            תודה רבה שנרשמתם למערכת <span class="text-6xl font-brush font-normal antialiased text-transparent leading-none py-1 bg-clip-text bg-gradient-to-r from-pink-hot to-purple-new">formali</span>
          </h1>
          <p class="mt-2 text-base font-thin">
            למען השקיפות, אנחנו עוד לא ממש אוספים מיילים,
            כל כולנו מושקעים בפיתוח המערכת עצמה, שלמעשה, לא הקדשנו מספיק זמן כדי 
            לרשום את הפרטים שלכם בשום מקום.
          </p>
          <p class="mt-2 text-base font-thin">
            מה שחשוב לנו לדעת זה שהינכם מעוניינים במה שאנחנו מפתחים.
            תודה שהבעתם עניין במוצר שלנו!
          </p>
          <p class="mt-4 text-red font-thin italic text-sm">
            ואם תרצו לכתוב: boristofu@gmail.com
          </p>

          <hr class="divider mt-4">
          <a href="/" class="button mt-4 button-primary w-2/3">
            חזרה
          </a>
        </div> ||
        <h1 class="font-black text-4xl block leading-none tracking-tight">
          האם אהבתם את <span class="text-6xl font-brush font-normal antialiased text-transparent leading-none py-1 bg-clip-text bg-gradient-to-r from-pink-hot to-purple-new">formali</span>?
        </h1>
        </span>
        <p class="mt-2 text-base font-thin">
          האם תהיו מוכנים להשתמש באפליקציה בעבור תשלום סמלי קבוע?
        </p>
        <div class="flex justify-center mt-8 gap-10">
          <a id="pay-button" href="/sign-up" up-layer="new" up-target=".content" up-position="bottom" up-align="right" size="grow" class="button-xl button-primary text-base block pt-4">בטח!</a>
          <a id="free-button" href="/sign-up" up-layer="new" up-target=".content" up-position="bottom" up-align="right" size="grow" class="button-xl button-secondary border-2 border-neutral-600 text-base block pt-4">רק בחינם</a>
          <a id="no-button" href="/sign-up?answer=no" up-layer="new" up-target=".content" up-position="bottom" up-align="right" size="grow" class="button-xl button-secondary text-base block pt-4">לא</a>
        </div>
        <div class="content"></div>
      }


    </div>
  </div>
</Layout>


<style>
  button, a {
    padding: 6px 12px;
    /* color: #fafafa; */
    /* background: #212121; */
    border-radius: 0.25em;
  }

  .font-brush {
    font-family: 'Road Rage', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .to-purple-new {
    --tw-gradient-to: #af00ff !important;
  }

  .from-pink-hot {
    --tw-gradient-from: #ff269e !important;
  }

  .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
  }

  .bg-clip-text {
    background-clip: text !important;
  }


</style>
