---
import Layout from '../layouts/Layout.astro';

const someData = {
  msg: 'hello world'
}
---

<Layout title="תודה על הרשמתכם">
  <div class="h-lvh bg-orange-300 flex flex-col align-center items-center justify-center" dir="rtl">
    <div x-transition:enter.duration.400ms x-data="data" class="shadow-md max-2-xl w-[400px] py-10 px-8 text-center">
      <span class="font-semibold text-xl block">
        האם אהבתם את formali?
      </span>
      <p class="mt-2">
        האם תהיו מוכנים להשתמש באפליקציה בעבור תשלום סמלי קבוע?
      </p>
      <div class="flex justify-center mt-8 gap-10">
        <a href="/sign-up" up-layer="new" up-target=".content" up-position="bottom" up-align="right" size="grow" class="text-base block pt-4">בטח!</a>
        <a href="/sign-up" up-layer="new" up-target=".content" up-position="bottom" up-align="right" size="grow" class="text-base block pt-4">רק בחינם</a>
        <a href="/sign-up?answer=no" up-layer="new" up-target=".content" up-position="bottom" up-align="right" size="grow" class="text-base block pt-4">לא</a>
      </div>
        <div class="content"></div>
    </div>
  </div>
</Layout>


<script define:vars={{ data: someData }}>
  document.addEventListener('alpine:init', () => {
    Alpine.data('data', () => ({
      data,
    }))
  })

  up.on('click', 'button', async function() {
    await fetch('/thanks', {
      method: 'POST',
      content: "application/json",
      body: {
        messsage: "No"
      }
    })
    alert("Great! I am thrilled that you like Formali's MVP version!")
  })

</script>

<style>
  button, a {
    padding: 6px 12px;
    color: #fafafa;
    background: #212121;
    border-radius: 0.25em;
  }
</style>
