---
const isRequired = false
---
<aside>
  <div class="flex border-b-2 border-neutral-600">
    <button>טופס</button>
    <button>עיצוב</button>
  </div>

  <div>
    <h3>הגדרות</h3>
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">חייב למלא</span> 
        <input type="checkbox" class="toggle" checked />
      </label>
    </div>
  </div>
</aside>
