---
import 'uno.css'

interface Props {
	title: string;
	topbar?: boolean;
	unpoly?: boolean;
}

const { title, topbar, unpoly } = Astro.props;
// TODO: change favicon
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		{unpoly !== false && 
			<script src="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly.min.js" />
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly.min.css" />
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly-bootstrap5.min.css" />
		}

		<title>{title}</title>
	</head>
	<body>
	 {
		topbar &&
			<div dir="rtl" class="sticky inset-0 text-xl shadow-md z-50 py-4 text-center bg-indigo-400">
				<p class="prose mx-auto px-10 md:px-20">
				
				注专转 <span class="font-semibold italic">formali</span> 爪转 砖 驻转. 驻拽 砖 砖 !
				</p>
			</div>
	 }
		<slot />
	</body>
</html>

<style is:global>
	.drop-shadow-plain {
			 filter: drop-shadow(3px 3px 0 #000);
	}

	.drop-shadow-3xl {
			 filter: drop-shadow(3px 3px 0 #000);
	}

	.drop-shadow-4xl {
			 filter: drop-shadow(4px 4px 0 #000);
	}

  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }

</style>

<style>
	.logo {
		width: 186px;
	}

</style>
